 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/751b0ab48a5397fde7895b03a500f367c7b018f6936831dd38303e3fb81b34417a29d6a55bead2c7a7d8ca046cccc02d469424738757a9a30fb681_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 40px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 376px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  animation-duration: 2250ms;
  margin: 115px 554px 0 -148px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  background-image: none;
  border-style: none;
  font-weight: 700;
  transition-duration: 3.75s;
  animation-duration: 1000ms;
  margin: -85px 64px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 696px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 454px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    font-size: 0.875rem;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 344px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 680px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 85px auto 70px 0;
}

.u-section-2 .u-image-1 {
  min-height: 541px;
  background-image: url("images/ELON.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 11px;
  padding-right: 11px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 20px 9px 0;
}

.u-section-2 .u-text-2 {
  transition-duration: 10s;
  animation-duration: 1000ms;
  margin: 37px 0 0 17px;
}

.u-section-2 .u-line-1 {
  width: 120px;
  height: 3px;
  margin: 13px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 510px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-line-1 {
    width: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 60px;
  }
}

.u-section-2 .u-text-2 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 657px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 107px auto 51px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 529px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-1 {
  height: 418px;
  width: 865px;
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-1 {
    height: 142px;
    width: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 107px;
    width: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 64px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 752px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }
}

.u-section-3 .u-image-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  background-image: none;
  animation-duration: 1000ms;
  margin: 60px auto;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 680px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 85px auto 70px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/elon1.jpg");
  min-height: 549px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 183px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-1 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 33px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -30px 40px 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 183px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-2 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 33px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: bold;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -18px 40px 0;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 183px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-5 .u-icon-3 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 31px auto 0 1px;
}

.u-section-5 .u-text-3 {
  font-weight: bold;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -17px 41px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 66px;
    margin-right: 0;
    font-weight: 400;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 66px;
    margin-right: 0;
    font-weight: 400;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-3 {
    font-weight: 400;
    margin-right: 0;
    margin-left: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -39px;
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 70px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 760px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  animation-duration: 1000ms;
  margin: 41px -39px 0 79px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 14px 20px 0;
}

.u-section-6 .u-image-1 {
  min-height: 504px;
  background-image: url("images/1991fefaae8f4c2ae82256652e3f41cc744bd0c6e51755f13cc7a0c00faa51906fd682cb7613f7121368e069e2c52c807ccc0334a2e19193e5f5f1_1280.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}